<!-- Section -->
<section class="main">
    <header class="major">
        <h2>{{ .section.title }}</h2>
        {{ partial "markdownify-block" .section.subtitle }}
    </header>
    <div class="features">
        {{ range $feature := .section.features }}
            <section>
                <span class="icon {{ $feature.icon }} major {{ $feature.icon_accent_color }}"></span>
                <h3>{{ $feature.title }}</h3>
                {{ partial "markdownify-block" $feature.subtitle }}
            </section>
        {{ end }}
    </div>
</section>
